@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Secular+One&family=Solway&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex&family=Fredoka+One&family=Macondo&family=Potta+One&display=swap');


:root {
    --font1: 'Josefin Sans', sans-serif;
    --font2: 'Secular One', sans-serif;
    --font3: 'Solway', serif;
    --font4: 'Titillium Web', sans-serif;
    --font5: 'Caudex', serif;
    --font6: 'Fredoka One', cursive;
    --font7: 'Macondo', cursive;
    --font8: 'Potta One', cursive;
}

:root {
    --fontAll1: 'Amaranth', sans-serif;
    --fontAll2: 'Bubblegum Sans', cursive;
    --fontAll3: 'Concert One', cursive;
    --fontAll4: 'Itim', cursive;
    --fontAll5: 'Josefin Sans', sans-serif;
    --fontAll6: 'Lilita One', cursive;
    --fontAll7: 'Patrick Hand', cursive;
    --fontAll8: 'Poppins', sans-serif;
    --fontAll9: 'Roboto Slab', serif;
    --fontAll10: 'Concert One', cursive;

}

*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* content index */
.main .content-index {
    margin: 20px 0;
}

.main .content-index .header-content {
    background-color: #F9F5F3;
    padding: 10px 20px;
    margin: 0 0 25px 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.main .content-index .header-content .action {
    padding: 10px 0;
}

.main .content-index .header-content .action a {
    background-color: #A6490C;
    text-decoration: none;
    color: #EDE0D4;
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 10px;
    font-family: var(--fontAll1);
}

.main .content-index .header-content .search {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main .content-index .header-content .search input {
    width: 20rem;
    height: 2.5rem;
    border: none;
    outline: none;
    background-color: #FFD1AD;
    padding: 5px 10px;
    font-size: 18px;
    font-family: var(--fontAll4);
    color: #411308;
    border-radius: 10px;
    border: 2px solid #FFD1AD;
}

.main .content-index .header-content .search input:focus {
    border: 2px solid #DA7E37;
}

.main .content-index .header-content .search i {
    background-color: #713200;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    color: #F9F5F3;
}

.main .content-index .main-content {
    margin: 0 0 25px;
}

.main .content-index .main-content .wrapper-table {
    width: 100%;
    padding: 0 0 10px 0;
    overflow-x: scroll;
    border-radius: 10px 10px 0 0;
}

.main .content-index .main-content .wrapper-table::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: #DA7E37;
    border-radius: 10px;
}

/* Track */
.main .content-index .main-content .wrapper-table::-webkit-scrollbar-track {
    background: #DA7E37;
    border-radius: 10px;
}

/* Handle */
.main .content-index .main-content .wrapper-table::-webkit-scrollbar-thumb {
    background: #713200;
    border-radius: 10px;
}

/* Handle on hover */
.main .content-index .main-content .wrapper-table::-webkit-scrollbar-thumb:hover {
    background: #713200;
}

.main .content-index .main-content .wrapper-table::-webkit-scrollbar-thumb:horizontal {
    background: #713200;
    border-radius: 10px;
}

.main .content-index .main-content .wrapper-table table {
    width: 100rem;
}

.main .content-index .main-content .wrapper-table table thead {
    background-color: #411308;
    border-radius: 10px 10px 0 0;
}

.main .content-index .main-content .wrapper-table table thead tr th {
    padding: 10px;
    text-align: center;
    font-family: var(--font4);
    color: #F9F5F3;
}

.main .content-index .main-content .wrapper-table table tbody tr td {
    font-family: var(--fontAll4);
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    border-bottom: 2px solid #411308;
}

.main .content-index .main-content .wrapper-table table tbody tr td p,
h2,
h1,
div,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.main .content-index .main-content .wrapper-table table tbody tr td .active{
    background-color: #072768;
    padding: 10px;
    border-radius: 10px;
    color: #F9F5F3;
}

.main .content-index .main-content .wrapper-table table tbody tr td .not-active{
    background-color: #731817;
    padding: 10px;
    border-radius: 10px;
    color: #F9F5F3;
}

.main .content-index .main-content .wrapper-table table tbody tr td .option {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main .content-index .main-content .wrapper-table table tbody tr td .option a {
    text-decoration: none;
    color: #F9F5F3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #ED862B;
    padding: 10px 15px 5px 15px;
    border-radius: 10px;
}

.main .content-index .main-content .wrapper-table table tbody tr td .option .delete {
    border: none;
    outline: none;
    background-color: #862906;
    padding: 10px 15px 5px 15px;
    font-size: 20px;
    color: #F9F5F3;
    cursor: pointer;
    border-radius: 10px;
}




/* content create */
.main .content-create {
    margin: 20px 0;
}

.main .content-create .main-content {
    background-color: #F9F5F3;
    padding: 10px 20px;
    margin: 0 0 25px 0;
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.main .content-create .main-content .action {
    padding: 10px 0;
}

.main .content-create .main-content .action a {
    background-color: #A6490C;
    text-decoration: none;
    color: #EDE0D4;
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 10px;
    font-family: var(--fontAll1);
}

.main .content-create .main-content .form {
    margin: 30px 0 30px 0;
    padding: 20px 20px;
    width: 100%;
    border-radius: 10px;
    background-color: #EDA268;
}

.main .content-create .main-content .form form .form-grp {
    padding: 0 0 15px 0;
}

.main .content-create .main-content .form form .form-grp label {
    display: block;
    font-family: var(--fontAll8);
    font-size: 20px;
    color: #411308;
}

.main .content-create .main-content .form form .form-grp input {
    width: 100%;
    height: 2.5rem;
    font-size: 17px;
    font-family: var(--font4);
    border: none;
    outline: none;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #F0E5E1;
    border: 2px solid #F0E5E1;
}

.main .content-create .main-content .form form .form-grp input:focus {
    border: 2px solid #DA7E37;
}

.main .content-create .main-content .form form .form-grp.small {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.main .content-create .main-content .form form .form-grp.small .form-small select {
    width: 100%;
    height: 2.5rem;
    font-size: 17px;
    font-family: var(--font4);
    border: none;
    outline: none;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #F0E5E1;
    border: 2px solid #F0E5E1;
}

.main .content-create .main-content .form form .form-grp.small .form-small select:focus {
    border: 2px solid #DA7E37;
}

.main .content-create .main-content .form form .form-butt {
    padding: 20px 0 0 0;
    text-align: center;
}

.main .content-create .main-content .form form .form-butt button {
    width: 15rem;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: var(--font6);
    padding: 10px 0;
    background-color: #8F3E00;
    color: #FFDCC2;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.main .content-create .main-content .form form .form-butt button:hover {
    background-color: #DA7E37;
}